@import "tailwindcss";

/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;700&family=Archivo+Black&display=swap');

/* Garet Font */
@font-face {
  font-family: 'Garet';
  src: url('https://cdn.jsdelivr.net/gh/fontshare/fontshare@main/fonts/garet/Garet-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Garet';
  src: url('https://cdn.jsdelivr.net/gh/fontshare/fontshare@main/fonts/garet/Garet-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Garet';
  src: url('https://cdn.jsdelivr.net/gh/fontshare/fontshare@main/fonts/garet/Garet-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* HK Modular Font */
@font-face {
  font-family: 'HK Modular';
  src: url('https://db.onlinewebfonts.com/t/5f85c2b3a01c5e73107e3b0b36b5c537.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HK Modular';
  src: url('https://db.onlinewebfonts.com/t/f8e3ab6e6a8b1e1c6b5a3c4d5e6f7g8h.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Garet', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'HK Modular', 'Garet', sans-serif;
}

footer {
  font-family: 'Public Sans', sans-serif;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6,
footer .heading {
  font-family: 'Archivo Black', cursive;
}